/* floatingBox.css */
.floating-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    width: 300px;
    max-height: 400px;
    overflow: auto;
    display: flex; /* Usa flexbox para el centrado */
    flex-direction: column; /* Alinear elementos verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    /* Agrega otros estilos según sea necesario */
}

/* Estilos adicionales para los botones */
.floating-box button {
    margin: 5px; /* Espaciado entre botones */
}

.invitation-box {
    border: 3px solid #000000; /* Puedes ajustar el grosor y el color del borde según tus preferencias */
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}