.main {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/dobble_bg.jpeg');
  background-size: cover;
  background-attachment: fixed;
}

.image-view {
  display: flex;
  flex-direction: column;
}

.image-row {
  display: flex;
  justify-content: space-around;
}

.image-container {
  flex: 1;
}

.image {
  width: 90%;
  height: auto;
  border-radius: 55%;
  border: 2px solid rgba(120, 40, 150, 0.6);
}
