.fondo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/dobble_background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
   
}

.img{
    max-width: 50%;
}

.contenedor{
    width: 1000px;
}
.boton2{
    background-color: rgba(0, 0, 0, 0.357); 
    border-radius: 300px;
    border:none;
    color:rgb(245, 245, 245);
    cursor: pointer;
    margin: 30px;
    
}

